{% extends 'templates/main.html' %}

{% block title %}{{blogListTitle}}{% endblock %}

{% block head %}

<style>
.blog {
	margin-bottom: 17px;
}

.blog h2 {
}

</style>
{% endblock %}

{% block content %}

{%if table.count != 0 %}
{%for blog in table.records%}
<div class="blog">
	<a href="/blog/{{blog.blogSlug}}/{{blog._id}}"><h1 class="title">{{blog.blogTitle|safe}}</h1></a>
	<div class="content">{{blog.gist|safe}}</div>
</div>
{%endfor%}
{%else%}
<div class="blog">
	
	<p class="content">Looks like you don't have any blog entries yet; <a href="/admin/blog/new">start writing now</a>.</p>
</div>
{%endif%}



{% endblock %}


{% block beforeEndBody %}

{% endblock %}