{% extends _cms.conf.adminTemplate %}

{% block title %}New Blog{% endblock %}

{% block head %}

  <link href="/css/plugin/blog/bootstrap.min.css" media="all" rel="stylesheet">
  <link href="/css/plugin/blog/bootstrap-markdown.min.css" media="all" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

  <style>
  textarea.content {
  	padding: 12px;
  	font-family: Inconsolata;
  	font-size: 16px;
  }

  .md-preview {
  	padding: 12px;
  }
  .md-preview p {
  	padding: 0;
  	margin: 0;
  }

  .hint {
  	color: #999;
  	font-size: 12px;
  	margin-bottom: 4px;
  }
  </style>
{% endblock %}

{% block content %}


  <form method="post">
    <input name="title" type="text" placeholder="Blog Title" />
    <div class="hint">This blog editor uses Markdown syntax. (<a href="#">Learn more</a>)</div>
    <textarea class="content" name="content" data-provide="markdown" rows="10"></textarea>
   
    <label style="margin-top: 12px;">
      <input name="publish" type="checkbox" checked> Publish
    </label>
   
    <hr/>
    <button type="submit" class="tiny btn">Save</button>
  </form> 



{% endblock %}


{% block beforeEndBody %}


  <script src="/js/plugin/blog/bootstrap.min.js"></script>	
  <script src="/js/plugin/blog/markdown.js"></script>	
  <script src="/js/plugin/blog/to-markdown.js"></script>	
  <script src="/js/plugin/blog/bootstrap-markdown.js"></script>	
{% endblock %}